<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300&family=Titillium+Web:wght@200;400&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/ee38b7de83.js" crossorigin="anonymous"></script>
<script src="javascript.js"></script>
<link rel="stylesheet" href="style.css">