<div style="z-index:-1;" id="nav-bg"></div>
<ul>
  <li id="nav-logo" style="height:30px;width:30px;">
    <a href="index.html#top"> 
      <div style="height:100%;width:100%;background-image: url(logo-white.svg);background-position: center;background-repeat: no-repeat;background-size: contain;"></div>
    </a>
  </li>
  <li><a href="index.html#work">WORK</a></li>
  <li><a href="about.html">ABOUT</a></li>
  <li><a href="#contact">CONTACT</a></li>
  <li class="ml-auto socials"><a href="https://www.linkedin.com/in/tyler-aikey-7271ab159/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-linkedin"></i></a></li>
</ul>
