html {
  font-size: 16px;
  scroll-behavior: smooth;
}

#site-container {
  position: relative;
}

footer {
  color: #050505;
}

nav {
  width: 100%;
  position: fixed;
  z-index: 1000;
}

nav #nav-bg {
  opacity: 0;
  background: #111111;
  position: absolute;
  height: 55px;
  width: 100%;
}

nav #nav-logo {
  left: 50%;
  margin: 0;
  position: absolute;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  max-width: 1200px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 55px;
  list-style: none;
  padding: 0;
  color: white;
}

nav ul li {
  opacity: 0.5;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  font-weight: 300;
  vertical-align: middle;
  display: inline-block;
  vertical-align: middle;
  margin: 0 50px 0 0;
}

nav ul li a {
  font-size: 16px;
}

nav ul li:hover {
  opacity: 1;
}

nav ul .socials {
  margin-right: 0;
}

.ml-auto {
  margin-left: auto;
}

#project-nav {
  padding: 100px 0;
}

#project-nav a {
  font-size: 1.5rem;
  opacity: 0.5;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

#project-nav a i {
  margin: 0 20px;
}

#project-nav a:hover {
  opacity: 1;
}

#project-nav a:nth-child(1) {
  margin-left: 0;
}

#project-nav a:nth-child(3) {
  margin-right: 0;
}

#project-nav .vertical-bar {
  display: none;
  width: 1px;
  height: 20px;
  background-color: #f8f8f8;
}

.dot-nav-override {
  bottom: 50px !important;
}

#dot-nav {
  color: white;
  position: fixed;
  bottom: 50%;
  right: 20px;
  -webkit-transition: bottom 0.5s ease-in-out;
  transition: bottom 0.5s ease-in-out;
}

#dot-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 1px;
}

#dot-nav ul li {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0;
}

#dot-nav ul li a {
  font-size: 16px;
}

#dot-nav ul .dot {
  position: relative;
  width: 4px;
  height: 4px;
  margin-top: 4px;
  border-radius: 50%;
  background-color: white;
  opacity: 0.25;
  -webkit-transition: opacity 1s, -webkit-transform 0.5s;
  transition: opacity 1s, -webkit-transform 0.5s;
  transition: transform 0.5s, opacity 1s;
  transition: transform 0.5s, opacity 1s, -webkit-transform 0.5s;
}

#dot-nav ul #dot-bar {
  position: absolute;
  top: -5px;
  width: 2px;
  height: 20px;
  background-color: white;
  -webkit-transition: top 0.5s;
  transition: top 0.5s;
}

#dot-nav ul #active-dot {
  opacity: 1;
  height: 20px;
  width: 2px;
  border-radius: 25%;
  -webkit-transform: scale(2);
          transform: scale(2);
}

#dot-nav ul .active {
  font-weight: 500 !important;
  opacity: 1 !important;
}

#dot-nav ul .dot-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: right;
  position: absolute;
  font-weight: 200;
  opacity: 0.25;
  right: 30px;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.timeline-container {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.timeline-container ul {
  position: relative;
  list-style-type: none;
  padding: 0 0 0 50px;
  margin: 0;
  width: 100%;
}

.timeline-container ul li {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-radius: 5px;
  background-color: #222222;
  margin-bottom: 50px;
  padding: calc(clamp(2rem, 1rem + 3vw, 3rem));
}

.timeline-container ul li .date {
  font-weight: 500;
}

.timeline-container ul li::before, .timeline-container ul li::after {
  content: " ";
  position: absolute;
  display: inline-block;
  border-radius: 50%;
  background-color: #111111;
  z-index: 1;
}

.timeline-container ul li::before {
  height: calc(10px * 3);
  width: calc(10px * 3);
  left: calc(-50px - calc(10px * 3) / 2);
  top: calc(50% - calc(10px * 3) / 2);
}

.timeline-container ul li::after {
  height: 10px;
  width: 10px;
  border: solid 2px #222222;
  left: calc(-50px - calc(10px + 4px) / 2);
  top: calc(50% - calc(10px + 4px) / 2);
}

.timeline-container ul li:first-of-type::before, .timeline-container ul li:first-of-type::after {
  top: calc(3rem);
}

.timeline-container ul li:last-of-type {
  margin-bottom: 0;
}

.timeline-container ul li:last-of-type::before, .timeline-container ul li:last-of-type::after {
  top: calc(100% - 3rem);
}

.timeline-container ul::after {
  content: " ";
  position: absolute;
  left: 0;
  top: 3rem;
  height: calc(100% - 6rem);
  border-left: solid 1px #222222;
  background-color: #111111;
  display: inline-block;
}

.timeline-container .timeline-line {
  margin-top: 75px;
  border: solid 1px #222222;
}

@media only screen and (max-width: 950px) {
  .timeline-container {
    max-width: 100% !important;
  }
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.arrow {
  margin: 30px 0;
  position: absolute;
  top: 0;
  left: 0;
  border: solid white;
  background-color: transparent;
  border-radius: 0%;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
}

.sidenav-smalltop {
  top: 5%;
}

.back-btn {
  margin-bottom: 20px;
  opacity: 0.5;
}

.back-btn i {
  margin-right: 10px;
}

::-webkit-scrollbar {
  display: none;
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  display: none;
  background: #bf060600;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f8f8f8;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 13px 3px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 13px 3px rgba(0, 0, 0, 0.15);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f8f8f8;
}

body {
  background-color: #050505;
  font-family: "Titillium Web", sans-serif;
  margin: 0;
  padding: 0;
  overflow: overlay;
}

section {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 50px;
}

.top-disp {
  position: relative;
  top: -100px;
}

a {
  cursor: pointer;
  font-weight: 400;
  text-decoration: none;
  color: white;
}

.dark-sec {
  color: white;
  background-color: #050505;
}

.light-sec {
  background-color: #f8f8f8;
}

.med-sec {
  color: white;
  background-color: #111111;
}

p {
  font-size: 1rem;
  font-weight: 200;
  margin: 0 0 10px 0;
}

.super-p {
  font-size: calc(clamp(1rem, 1rem + 5vw, 3rem));
}

.p1 {
  font-size: 1.5rem;
}

.p2 {
  font-size: 18px;
}

.p3 {
  font-size: 16px;
}

img {
  width: 100%;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Source Serif Pro", serif;
}

h1 {
  margin-top: 0;
  font-weight: 600;
  font-size: 3rem;
  line-height: 3.75rem;
}

.h1-scale {
  font-size: calc(clamp(2rem, 1rem + 2vw, 3rem));
  line-height: calc(clamp(2.75rem, 1rem + 2.75vw, 3.75rem));
}

h3 {
  font-size: 1.8rem;
}

.h3-scale {
  font-size: calc(clamp(1rem, 1rem + 1vw, 1.8rem));
  line-height: calc(clamp(1.7rem, 1rem + 1.75vw, 2.5rem));
}

h4 {
  font-size: 1.25rem;
}

.super-h {
  margin-bottom: 30px;
  font-size: calc(clamp(4rem, 1rem + 10vw, 10rem));
  line-height: calc(clamp(5rem, 10vw, 11rem));
}

.fullview {
  height: 90vh;
  max-height: 600px;
}

.fw {
  margin: auto;
  width: 100%;
  max-width: 1200px;
}

.hw {
  max-width: 600px;
}

.tt-w {
  max-width: 66.66%;
}

.ot-w {
  width: clamp(0%, 100%, 33.33%);
}

.clickable {
  cursor: pointer;
}

.overflow-cont {
  width: 100%;
  height: 100vh;
  padding-top: 0;
  overflow: hidden;
}

#header-cta {
  margin-top: 50px;
  display: inline-block;
  font-weight: 1000;
  color: #050505;
  padding: 15px 40px;
  background-color: #65eecf;
}

#head-video,
#head-video-2 {
  position: relative;
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  top: -5%;
  left: -5%;
  min-width: 2000px;
  z-index: -1;
  -webkit-transition: -webkit-filter 0.5s;
  transition: -webkit-filter 0.5s;
  transition: filter 0.5s;
  transition: filter 0.5s, -webkit-filter 0.5s;
}

#head-video {
  position: absolute;
  -webkit-filter: opacity(1) blur(3px);
          filter: opacity(1) blur(3px);
}

#head-video-2 {
  z-index: -2;
  -webkit-filter: url("#convolve2");
          filter: url("#convolve2");
}

.video-fade {
  -webkit-filter: opacity(0) blur(3px) !important;
          filter: opacity(0) blur(3px) !important;
}

.top {
  z-index: 1000;
}

.bot {
  z-index: -1000;
}

button {
  position: relative;
  margin: 30px 0 0 0;
  font-size: 18px;
  padding: 15px 30px;
  border-radius: 5px;
  color: #6a4eff;
  border: 2px solid #6a4eff;
  background-color: rgba(0, 0, 0, 0);
  background-size: 205% 100%;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, rgba(0, 0, 0, 0)), color-stop(50%, #6a4eff));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 50%, #6a4eff 50%);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

button:hover {
  color: white;
  background-position: -97.5% 0;
  cursor: pointer;
}

#top {
  height: 100vh;
}

.ta-l {
  text-align: left;
}

.ta-r {
  text-align: right;
}

.ta-c {
  text-align: center;
}

.f-light {
  font-weight: 300;
}

.f-reg {
  font-weight: 400;
}

.f-semi {
  font-weight: 500;
}

.f-bold {
  font-weight: 600;
}

.f-ital {
  font-style: italic;
}

f-color-dark {
  color: #050505;
}

.drpshw-1 {
  -webkit-box-shadow: 0 10px 38px 13px rgba(0, 0, 0, 0.5);
          box-shadow: 0 10px 38px 13px rgba(0, 0, 0, 0.5);
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
}

.o-green {
  mix-blend-mode: color;
  background: linear-gradient(45deg, #6a4eff, #65eecf);
}

.o-dark {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), to(#050505));
  background: linear-gradient(rgba(0, 0, 0, 0.1), #050505);
}

.fadeprep {
  opacity: 1;
  top: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.fadeout-bottom {
  pointer-events: none;
  top: 20px !important;
  opacity: 0 !important;
}

.fadeout {
  opacity: 0 !important;
}

.header-content-contain {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  margin: auto;
  color: white;
}

.header-content-contain .header-content {
  margin: auto;
}

.serif {
  font-family: "Cormorant Garamond", serif;
}

.sans {
  font-family: "Titillium Web", sans-serif;
}

.grid-contain {
  display: -ms-grid;
  display: grid;
  position: relative;
  -ms-grid-columns: (minmax(400px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  -webkit-column-gap: 50px;
          column-gap: 50px;
  row-gap: Min(5vw, 50px);
  width: 100%;
}

.grid-contain .grid-cell {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding-top: 110%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: opacity 0.5s, width 0.5s;
  transition: opacity 0.5s, width 0.5s;
  -webkit-filter: none;
          filter: none;
}

.grid-contain .grid-cell .grid-cell-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: Min(5vw, 30px);
  overflow: hidden;
  top: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background: #111111;
  -webkit-transition: all 2s cubic-bezier(0.08, 0.5, 0, 1);
  transition: all 2s cubic-bezier(0.08, 0.5, 0, 1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.grid-contain .grid-cell .grid-cell-wrap .grid-cell-header {
  margin-bottom: 5%;
  color: white;
}

.grid-contain .grid-cell .grid-cell-wrap .grid-cell-content {
  height: 90%;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

.grid-contain .grid-cell .grid-cell-wrap .card-front,
.grid-contain .grid-cell .grid-cell-wrap .card-back {
  -webkit-filter: blur(0px);
          filter: blur(0px);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  background-size: cover;
  background-position: center;
  -webkit-transition: all 0.75s;
  transition: all 0.75s;
}

.grid-contain .grid-cell .grid-cell-wrap .card-bg {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.grid-contain .grid-cell .grid-cell-wrap .card-back {
  opacity: 0;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  padding: 5%;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #111111;
  font-weight: 700;
  color: white;
}

.grid-contain .grid-cell .grid-cell-wrap .card-back h1 {
  margin: 0 0 20px 0;
}

.grid-contain .grid-cell .grid-cell-wrap .card-back p {
  font-weight: 300;
  margin-top: 20px;
}

.grid-contain .grid-cell .grid-cell-wrap .grid-cell-bg {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-size: cover;
  background-color: #111111;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-filter 0.75s;
  transition: -webkit-filter 0.75s;
  transition: filter 0.75s;
  transition: filter 0.75s, -webkit-filter 0.75s;
}

.grid-contain .grid-cell .grid-cell-wrap .card-bg::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition: all 0.75s;
  transition: all 0.75s;
}

.grid-contain .grid-cell:hover .card-back {
  cursor: pointer;
  opacity: 1;
}

.grid-contain .grid-cell:hover .grid-cell-wrap {
  cursor: pointer;
  top: -20px;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0 10px 10px 5px rgba(0, 0, 0, 0.75);
          box-shadow: 0 10px 10px 5px rgba(0, 0, 0, 0.75);
}

.grid-contain .grid-cell:hover .card-bg {
  -webkit-filter: blur(2.5px);
          filter: blur(2.5px);
}

.grid-contain .grid-cell:hover .card-bg::before {
  background-color: rgba(0, 0, 0, 0.75);
}

#project-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

#project-content .project {
  position: absolute;
  top: 0;
  left: 0;
}

.norm {
  top: 0;
  position: relative;
  -webkit-transition: 0.75s;
  transition: 0.75s;
}

.underl-2 {
  height: 2px;
  background-color: white;
}

.no-mar {
  margin-bottom: 0;
  margin-top: 0;
}

.content {
  position: relative;
  padding: 1px;
  margin: auto;
}

.fpw {
  width: 100vw;
}

.fwh {
  height: 100%;
  width: 100%;
}

.fh {
  height: 100%;
}

.padded-sm {
  padding: 20px;
}

.margin-b-lg {
  margin-bottom: 100px;
}

.margin-b-md {
  margin-bottom: 50px;
}

.margin-b-sm {
  margin-bottom: 20px;
}

.margin-l-lg {
  margin-left: 100px;
}

.margin-l-md {
  margin-left: 50px;
}

.margin-l-sm {
  margin-left: 20px;
}

.content-padded {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 50px;
}

.content-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content-img-sidetext {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content-img-sidetext article {
  position: relative;
  min-width: 400px;
}

.content-img-sidetext article div {
  padding-top: 110%;
}

.content-img-sidetext div:last-of-type {
  width: 100%;
}

@media only screen and (max-width: 920px) {
  .content-img-sidetext {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

.img-bg {
  overflow: hidden;
  background-position: center;
  background-size: cover;
}

.img-overlay-d::before {
  z-index: -1;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
}

.drop-card {
  background-color: white;
  border-radius: 5px;
  padding: 30px;
  -webkit-box-shadow: 0 20px 36px 8px rgba(0, 0, 0, 0.15);
          box-shadow: 0 20px 36px 8px rgba(0, 0, 0, 0.15);
}

.exp-parent {
  margin-bottom: 80px;
}

@-webkit-keyframes colorfun {
  0% {
    color: #65eecf;
  }
  50% {
    color: magenta;
  }
  75% {
    color: #0084ff;
  }
  100% {
    color: #65eecf;
  }
}

@keyframes colorfun {
  0% {
    color: #65eecf;
  }
  50% {
    color: magenta;
  }
  75% {
    color: #0084ff;
  }
  100% {
    color: #65eecf;
  }
}

#hover-fun {
  display: inline-block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: none;
  margin: 0;
  padding: 0;
  border: none;
  color: white;
  -webkit-transition: color 0.5s, -webkit-transform 0.1s;
  transition: color 0.5s, -webkit-transform 0.1s;
  transition: transform 0.1s, color 0.5s;
  transition: transform 0.1s, color 0.5s, -webkit-transform 0.1s;
  -webkit-transform: scale(1);
          transform: scale(1);
}

#hover-fun:hover {
  color: #6a4eff;
}

#hover-fun:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.gradient-hover::after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  mix-blend-mode: screen;
  display: block;
  height: 100%;
  width: 100%;
  opacity: 0;
  background: linear-gradient(-45deg, #6a4eff, #bf9ef8);
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.gradient-hover:hover::after {
  opacity: 1;
}

h2 {
  font-size: 35px;
}

.h-lrg {
  font-size: 50px;
}

.rounded {
  border-radius: 5px;
}

.link-underline::after {
  content: "";
  position: absolute;
  width: 100%;
  bottom: 5%;
  left: 0;
  background-color: #65eecf;
  height: 2px;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}

.link-underline:hover::after {
  bottom: 10%;
  height: 4px;
}

.link-underline {
  position: relative;
}

.no-sidepad {
  padding-left: 0;
  padding-right: 0;
}

.sec-hor-pad {
  padding-left: 50px;
  padding-right: 50px;
}

.sec-vertical-pad {
  padding-top: 100px;
  padding-bottom: 100px;
}

.offset-left {
  position: relative;
  left: -15%;
}

#contact {
  background-image: url("images/wavy.png");
  background-size: cover;
}

@media only screen and (max-width: 1300px) {
  nav ul {
    padding: 0 20px;
  }
}

@media only screen and (max-width: 1430px) {
  section {
    padding-right: 150px;
  }
}

@media only screen and (max-width: 1000px) {
  .grid-contain {
    -ms-grid-columns: (100%)[auto-fill];
        grid-template-columns: repeat(auto-fill, 100%);
  }
  /*
    .super-h{
        margin-bottom:20px;
        font-size:7rem;
        line-height: 8rem;
    }*/
}

@media only screen and (max-width: 850px) {
  #dot-nav {
    display: none;
  }
  section {
    padding-right: 50px;
  }
  .sec-hor-pad {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media only screen and (max-width: 750px) {
  .fullview {
    max-height: 500px;
  }
  #nav-logo {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */