$techgreen: #65eecf;
$darktechgreen: #112924;
$purple: #6a4eff;
$lightpurple: #bf9ef8;
$darkpurple: #590076;
$black: #050505;
$gray6: #111111;
$gray5: #222222;
$gray4: #333333;
$gray1: #f8f8f8;

$border-radius-sm: 5px;
$margin-sm: 20px;
$margin-md: 50px;
html {
  font-size: 16px;
  scroll-behavior: smooth;
}

#site-container {
  position: relative;
}

footer {
  color: $black;
}

nav {
  width: 100%;
  position: fixed;
  z-index: 1000;
  #nav-bg {
    opacity: 0;
    background: $gray6;
    position: absolute;
    height: 55px;
    width: 100%;
  }
  #nav-logo {
    left: 50%;
    margin: 0;
    position: absolute;
  }
  ul {
    display: flex;
    margin: auto;
    max-width: 1200px;
    align-items: center;
    height: 55px;
    list-style: none;
    padding: 0;
    color: white;
    li {
      opacity: 0.5;
      transition: 0.25s;
      font-weight: 300;
      vertical-align: middle;
      display: inline-block;
      vertical-align: middle;
      margin: 0 50px 0 0;
      a {
        font-size: 16px;
      }
    }
    li:hover {
      opacity: 1;
    }
    .socials {
      margin-right: 0;
    }
  }
}
.ml-auto {
  margin-left: auto;
}

#project-nav {
  padding: 100px 0;
  a {
    font-size: 1.5rem;
    opacity: 0.5;
    transition: opacity 0.5s;
    i {
      margin: 0 20px;
    }
  }
  a:hover {
    opacity: 1;
  }
  a:nth-child(1) {
    margin-left: 0;
  }
  a:nth-child(3) {
    margin-right: 0;
  }

  .vertical-bar {
    display: none;
    width: 1px;
    height: 20px;
    background-color: $gray1;
  }
}

.dot-nav-override {
  bottom: 50px !important;
  //position: absolute !important;
}

#dot-nav {
  color: white;
  position: fixed;
  bottom: 50%;
  right: 20px;
  transition: bottom 0.5s ease-in-out;
  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    box-sizing: border-box;
    margin: 0;
    padding: 1px;
    li {
      position: relative;
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      margin: 20px 0;
      a {
        font-size: 16px;
      }
    }
    .dot {
      position: relative;
      //margin: 20px 0;
      width: 4px;
      height: 4px;
      margin-top: 4px;
      border-radius: 50%;
      background-color: white;
      opacity: 0.25;
      transition: transform 0.5s, opacity 1s;
    }
    #dot-bar {
      position: absolute;
      top: -5px;
      width: 2px;
      height: 20px;
      background-color: white;
      transition: top 0.5s;
    }
    #active-dot {
      opacity: 1;
      height: 20px;
      width: 2px;
      border-radius: 25%;
      transform: scale(2);
    }
    .active {
      font-weight: 500 !important;
      opacity: 1 !important;
    }

    .dot-text {
      display: flex;
      text-align: right;
      position: absolute;
      font-weight: 200;
      opacity: 0.25;
      right: 30px;
      transition: opacity 0.5s;
    }
  }
}

.timeline-container {
  transition: all 0.5s;
  align-items: flex-start;
  ul {
    position: relative;
    list-style-type: none;
    padding: 0 0 0 $margin-md;
    margin: 0;
    width: 100%;
    li {
      $dotsize: 10px;
      position: relative;
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      align-items: flex-start;
      border-radius: $border-radius-sm;
      background-color: $gray5;
      margin-bottom: $margin-md;
      padding: calc(clamp(2rem, 1rem + 3vw, 3rem));

      .date {
        font-weight: 500;
      }
      &::before,
      &::after {
        content: " ";
        position: absolute;
        display: inline-block;
        border-radius: 50%;
        background-color: $gray6;
        z-index: 1;
      }
      &::before {
        $size: calc(#{$dotsize} * 3);
        height: $size;
        width: $size;
        left: calc(-50px - #{$size} / 2);
        top: calc(50% - #{$size} / 2);
      }
      &::after {
        $size: calc(#{$dotsize} + 4px);
        height: $dotsize;
        width: $dotsize;
        border: solid 2px $gray5;
        left: calc(-50px - #{$size} / 2);
        top: calc(50% - #{$size} / 2);
      }
      &:first-of-type {
        &::before,
        &::after {
          top: calc(3rem);
        }
      }
      &:last-of-type {
        margin-bottom: 0;
        &::before,
        &::after {
          top: calc(100% - 3rem);
        }
      }
    }
  }
  ul::after {
    content: " ";
    position: absolute;
    left: 0;
    top: 3rem;
    height: calc(100% - 6rem);
    border-left: solid 1px $gray5;
    background-color: $gray6;
    display: inline-block;
  }

  .timeline-line {
    margin-top: 75px;
    border: solid 1px $gray5;
  }
}

@media only screen and (max-width: 950px) {
  .timeline-container {
    max-width: 100% !important;
  }
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.arrow {
  margin: 30px 0;
  position: absolute;
  top: 0;
  left: 0;
  border: solid white;
  background-color: transparent;
  border-radius: 0%;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
}

.sidenav-smalltop {
  top: 5%;
}

.back-btn {
  margin-bottom: 20px;
  opacity: 0.5;
  i {
    margin-right: 10px;
  }
}

::-webkit-scrollbar {
  display: none;
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  display: none;
  background: #bf060600;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0 0 13px 3px rgba(0, 0, 0, 0.15);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f8f8f8;
}

body {
  background-color: $black;
  font-family: "Titillium Web", sans-serif;
  margin: 0;
  padding: 0;
  overflow: overlay;
}

section {
  position: relative;
  box-sizing: border-box;
  padding: 50px;
}

.top-disp {
  position: relative;
  top: -100px;
}

a {
  cursor: pointer;
  font-weight: 400;
  text-decoration: none;
  color: white;
}

.dark-sec {
  color: white;
  background-color: $black;
}

.light-sec {
  background-color: $gray1;
}
.med-sec {
  color: white;
  background-color: $gray6;
}

p {
  font-size: 1rem;
  font-weight: 200;
  margin: 0 0 10px 0;
}

.super-p {
  font-size: calc(clamp(1rem, 1rem + 5vw, 3rem));
}
.p1 {
  font-size: 1.5rem;
}
.p2 {
  font-size: 18px;
}
.p3 {
  font-size: 16px;
}

img {
  width: 100%;
  max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Source Serif Pro", serif;
}

h1 {
  margin-top: 0;
  font-weight: 600;
  font-size: 3rem;
  line-height: 3.75rem;
}
.h1-scale {
  font-size: calc(clamp(2rem, 1rem + 2vw, 3rem));
  line-height: calc(clamp(2.75rem, 1rem + 2.75vw, 3.75rem));
}

h3 {
  font-size: 1.8rem;
}
.h3-scale {
  font-size: calc(clamp(1rem, 1rem + 1vw, 1.8rem));
  line-height: calc(clamp(1.7rem, 1rem + 1.75vw, 2.5rem));
}

h4 {
  font-size: 1.25rem;
}

.super-h {
  margin-bottom: 30px;
  font-size: calc(clamp(4rem, 1rem + 10vw, 10rem));
  line-height: calc(clamp(5rem, 10vw, 11rem));
}
.fullview {
  height: 90vh;
  max-height: 600px;
}

.fw {
  margin: auto;
  width: 100%;
  max-width: 1200px;
}

.hw {
  max-width: 600px;
}

.tt-w {
  max-width: 66.66%;
}

.ot-w {
  width: clamp(0%, 100%, 33.33%);
}

.clickable {
  cursor: pointer;
}

.overflow-cont {
  width: 100%;
  height: 100vh;
  padding-top: 0;
  overflow: hidden;
}

#header-cta {
  margin-top: 50px;
  display: inline-block;
  font-weight: 1000;
  color: $black;
  padding: 15px 40px;
  background-color: $techgreen;
}

#head-video,
#head-video-2 {
  position: relative;
  transform: scale(1.03);
  top: -5%;
  left: -5%;
  min-width: 2000px;
  z-index: -1;
  transition: filter 0.5s;
}

#head-video {
  position: absolute;
  filter: opacity(1) blur(3px);
}

#head-video-2 {
  z-index: -2;
  filter: url("#convolve2");
}

.video-fade {
  filter: opacity(0) blur(3px) !important;
}

.top {
  z-index: 1000;
}
.bot {
  z-index: -1000;
}

button {
  position: relative;
  margin: 30px 0 0 0;
  font-size: 18px;
  padding: 15px 30px;
  border-radius: $border-radius-sm;
  color: $purple;
  border: 2px solid $purple;
  background-color: rgba(0, 0, 0, 0);
  background-size: 205% 100%;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 50%,
    $purple 50%
  );
  transition: all 0.5s ease;
}

button:hover {
  color: white;
  background-position: -97.5% 0;
  cursor: pointer;
  //transform: scale(1.1);
}

#top {
  height: 100vh;
}

.ta-l {
  text-align: left;
}
.ta-r {
  text-align: right;
}
.ta-c {
  text-align: center;
}

.f-light {
  font-weight: 300;
}
.f-reg {
  font-weight: 400;
}
.f-semi {
  font-weight: 500;
}
.f-bold {
  font-weight: 600;
}
.f-ital {
  font-style: italic;
}

f-color-dark {
  color: $black;
}

//DROP SHADOWS
.drpshw-1 {
  box-shadow: 0 10px 38px 13px rgba(0, 0, 0, 0.5);
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
}

.o-green {
  mix-blend-mode: color;
  background: linear-gradient(45deg, $purple, $techgreen);
}

.o-dark {
  background: linear-gradient(rgba(0, 0, 0, 0.1), $black);
}

.fadeprep {
  opacity: 1;
  top: 0;
  transition: all 0.5s;
}

.fadeout-bottom {
  pointer-events: none;
  top: 20px !important;
  opacity: 0 !important;
}

.fadeout {
  opacity: 0 !important;
}

.header-content-contain {
  position: absolute;
  display: flex;
  box-sizing: border-box;
  justify-content: left;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: auto;
  color: white;

  .header-content {
    margin: auto;
  }
}

.serif {
  font-family: "Cormorant Garamond", serif;
}

.sans {
  font-family: "Titillium Web", sans-serif;
}

.grid-contain {
  display: grid;
  position: relative;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  column-gap: 50px;
  row-gap: Min(5vw, 50px);
  width: 100%;
  .grid-cell {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    padding-top: 110%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: opacity 0.5s, width 0.5s;
    filter: none;
    .grid-cell-wrap {
      display: flex;
      flex-direction: column;
      position: absolute;
      box-sizing: border-box;
      padding: Min(5vw, 30px);
      overflow: hidden;
      top: 0;
      z-index: 0;
      width: 100%;
      height: 100%;
      border-radius: $border-radius-sm;
      background: $gray6;
      transition: all 2s cubic-bezier(0.08, 0.5, 0, 1);

      //Prevent Flickering
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      //transform-style: preserve-3d;

      .grid-cell-header {
        margin-bottom: 5%;
        color: white;
      }

      .grid-cell-content {
        height: 90%;
        position: relative;
        overflow: hidden;
        border-radius: $border-radius-sm;
      }

      .card-front,
      .card-back {
        filter: blur(0px);
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        //background: $gray6;
        text-align: center;
        backface-visibility: hidden;
        background-size: cover;
        background-position: center;
        transition: all 0.75s;
      }

      .card-bg {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }

      .card-back {
        opacity: 0;
        position: absolute;
        z-index: 1;
        //top:-2.5%;
        //left:-2.5%;
        width: 100%;
        height: 100%;
        padding: 5%;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: $gray6;
        font-weight: 700;
        color: white;
        //background: rgba(0, 0, 0, 0.75);

        h1 {
          margin: 0 0 20px 0;
        }

        p {
          font-weight: 300;
          margin-top: 20px;
        }
      }

      .grid-cell-bg {
        width: 100%;
        height: 100%;
        border-radius: $border-radius-sm;
        background-size: cover;
        background-color: $gray6;
        backface-visibility: hidden;
        transition: filter 0.75s;
      }

      .card-bg::before {
        content: " ";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0);
        transition: all 0.75s;
      }
    }
  }

  .grid-cell:hover .card-back {
    cursor: pointer;
    //transform: rotateY( 180deg );
    opacity: 1;
  }

  .grid-cell:hover .grid-cell-wrap {
    cursor: pointer;
    top: -20px;
    transform: scale(1.05);
    box-shadow: 0 10px 10px 5px rgba(0, 0, 0, 0.75);
  }

  .grid-cell:hover .card-bg {
    filter: blur(2.5px);
  }

  .grid-cell:hover {
    .card-bg::before {
      background-color: rgba(0, 0, 0, 0.75);
    }
  }
}

#project-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  .project {
    position: absolute;
    top: 0;
    left: 0;
  }
}
.norm {
  top: 0;
  position: relative;
  transition: 0.75s;
}

.underl-2 {
  height: 2px;
  background-color: white;
}

.no-mar {
  margin-bottom: 0;
  margin-top: 0;
}

.content {
  position: relative;
  padding: 1px;
  margin: auto;
}
.fpw {
  width: 100vw;
}

.fwh {
  height: 100%;
  width: 100%;
}

.fh {
  height: 100%;
}

.padded-sm {
  padding: 20px;
}

.margin-b-lg {
  margin-bottom: 100px;
}
.margin-b-md {
  margin-bottom: 50px;
}
.margin-b-sm {
  margin-bottom: 20px;
}
.margin-l-lg {
  margin-left: 100px;
}
.margin-l-md {
  margin-left: 50px;
}
.margin-l-sm {
  margin-left: 20px;
}

.content-padded {
  box-sizing: border-box;
  padding: 50px;
}

.content-flex {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.content-img-sidetext {
  display: flex;
  gap: 50px;
  //grid-template-columns: 2fr 3fr;
  //flex-wrap: wrap;
  box-sizing: border-box;
  margin: auto;
  align-items: center;
  justify-content: center;

  & > * {
    //flex: 1 1 47%;
  }
  article {
    position: relative;
    min-width: 400px;

    div {
      padding-top: 110%;
    }
  }
  div:last-of-type {
    width: 100%;
    //padding-left: 50px;
  }
}
@media only screen and (max-width: 920px) {
  .content-img-sidetext {
    flex-wrap: wrap;
  }
}

img {
  object-fit: cover;
}
.img-bg {
  overflow: hidden;
  background-position: center;
  background-size: cover;
}

.img-overlay-d::before {
  z-index: -1;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
}

.drop-card {
  background-color: white;
  border-radius: $border-radius-sm;
  padding: 30px;
  box-shadow: 0 20px 36px 8px rgba(0, 0, 0, 0.15);
}
.exp-parent {
  margin-bottom: 80px;
}

@keyframes colorfun {
  0% {
    color: $techgreen;
  }
  50% {
    color: rgb(255, 0, 255);
  }
  75% {
    color: rgb(0, 132, 255);
  }
  100% {
    color: $techgreen;
  }
}

#hover-fun {
  display: inline-block;
  user-select: none;
  background: none;
  margin: 0;
  padding: 0;
  border: none;
  color: white;
  transition: transform 0.1s, color 0.5s;
  transform: scale(1);
}

#hover-fun:hover {
  color: $purple;
}
#hover-fun:active {
  transform: scale(0.9);
}

.gradient-hover::after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  mix-blend-mode: screen;
  display: block;
  height: 100%;
  width: 100%;
  opacity: 0;
  background: linear-gradient(-45deg, $purple, #bf9ef8);
  transition: opacity 0.5s;
}
.gradient-hover:hover::after {
  opacity: 1;
}

h2 {
  font-size: 35px;
}

.h-lrg {
  font-size: 50px;
}

.rounded {
  border-radius: $border-radius-sm;
}
.link-underline::after {
  content: "";
  position: absolute;
  width: 100%;
  bottom: 5%;
  left: 0;
  background-color: $techgreen;
  height: 2px;
  transition: all 0.25s ease-out;
}
.link-underline:hover::after {
  bottom: 10%;
  height: 4px;
}

.link-underline {
  position: relative;
}

.no-sidepad {
  padding-left: 0;
  padding-right: 0;
}

.sec-hor-pad {
  padding-left: 50px;
  padding-right: 50px;
}

.sec-vertical-pad {
  padding-top: 100px;
  padding-bottom: 100px;
}

.offset-left {
  position: relative;
  left: -15%;
}

#contact {
  background-image: url("images/wavy.png");
  background-size: cover;
}

@media only screen and (max-width: 1300px) {
  html {
    //font-size: 14px;
  }
  nav ul {
    padding: 0 20px;
  }
}

@media only screen and (max-width: 1430px) {
  section {
    padding-right: 150px;
  }
}

@media only screen and (max-width: 1000px) {
  .grid-contain {
    grid-template-columns: repeat(auto-fill, 100%);
  }
  /*
    .super-h{
        margin-bottom:20px;
        font-size:7rem;
        line-height: 8rem;
    }*/
}

//TABLET
@media only screen and (max-width: 850px) {
  #dot-nav {
    display: none;
  }
  section {
    padding-right: 50px;
  }
  .sec-hor-pad {
    padding-left: 50px;
    padding-right: 50px;
  }
}

//PHONE
@media only screen and (max-width: 750px) {
  .fullview {
    //height: 60vh;
    max-height: 500px;
  }
  #nav-logo {
    display: none;
  }
}
